#content {
    width: 240px;
}

.masthead {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        width: 80%;
        height: auto;
    }
}

.excluder, .muter {
    display: flex;
    justify-content: center;
    flex-direction: row;

    button {
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
        margin: 6px;
        background-color: $mute-color;


        &.active {
            background-color: $mute-active-color;
        }

        &:hover {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        }
    }
}
